package {{{javaPackageFull}}}.model.rsp;

import {{{javaPackageFull}}}.model.base.ResponseBase;
import {{{javaPackageFull}}}.component.VersionProperties;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.time.LocalDateTime;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class HealthRsp implements ResponseBase {
    private String status;
    private LocalDateTime timestamp;
    private String service;
    private String version;
    private VersionProperties build;
}
