package {{{javaPackageFull}}}.controller.noauth;

import {{{javaPackageFull}}}.component.VersionProperties;
import {{{javaPackageFull}}}.model.base.ResponseBody;
import {{{javaPackageFull}}}.model.rsp.HealthRsp;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import java.time.LocalDateTime;
import java.util.UUID;

@RestController
@RequestMapping("/api/v1")
public class HealthController {

    @Autowired
    private VersionProperties versionProperties;

    @GetMapping("/health")
    public ResponseEntity<ResponseBody<HealthRsp>> health() {
        HealthRsp healthRsp = HealthRsp.builder()
            .status("UP")
            .timestamp(LocalDateTime.now())
            .service("{{{projectName}}}-api")
            .version("{{{version}}}")
            .build(versionProperties)
            .build();

        ResponseBody<HealthRsp> responseBody = ResponseBody.<HealthRsp>builder()
            .requestId(UUID.randomUUID().toString())
            .response(healthRsp)
            .build();

        return ResponseEntity.ok(responseBody);
    }
}
