package {{{javaPackageFull}}}.model.base;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.util.List;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ResponseBody<T extends ResponseBase> {
    private String requestId;
    private List<Fault> faults;
    private T response;
}
